/*NavBar section*/
@import 'https://fonts.googleapis.com/css?family=Lobster|Raleway';
@import 'https://fonts.googleapis.com/css?family=Yatra+One';

body{
  background-color: #C5C5C5;
}

h1 {
  font-family: 'Yatra+One',cursive;
}

nav {
  font-family: 'lobster',cursive;
}
#menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#menu.navbar-default {
    font-size: 14px;
    background-color: rgba(181, 145, 145, 0.54);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(181, 145, 145, 0.54) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(181, 145, 145, 0.54) 100%);
    border-width: 8px;
    border-radius: 13px;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(247, 15, 15, 0.37);
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(143, 117, 117, 1);
}
#menu.navbar-default .navbar-toggle {
    border-color: #8f7575;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #8f7575;
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #8f7575;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #b59191;
}

#media {
  display:flex;
  justify-content: center;
}

/*carousel*/
#carousel-example-generic {
  height:500px;
}

.aluminum-img {
  background-image: url('../img/Aluminum.jpg');
  background-repeat:round;
}

.ocean {
  background-image: url('..img/ocean.jpg');
  background-position: center;
  height: 500px;
}

.pet-store {
  width: 700px;
  height:400px;
  /*margin-right: 20px;*/
}

.restaurant {
  width: 700px;
  height:400px;
  margin-left: 20px;
}
 #websites {
   display:flex;
 }

/*footer*/
footer{
  background-color:#C5C5C5;
}
#copy_right {
  text-align: center;
  font-size: 16px;
}
#form_name {
  background-color: rgba(248, 248, 248, 0);
  border-color: #fff;
}
#form_lastname {
  background-color: rgba(248, 248, 248, 0);
  border-color: #fff;
}
#form_email{
  background-color: rgba(248, 248, 248, 0);
  border-color: #fff;
}
#form_phone {
  background-color: rgba(248, 248, 248, 0);
  border-color: #fff;
}
#form_message{
  background-color: rgba(248, 248, 248, 0);
  border-color: #fff;
}
#required {
  font-size:12px;
  color:red;
}
.btn-success {
    color: #fff;
    background-color: red;
    border-color: red;
}

.fa-facebook {
  background-color:#8B9DC3;
  width: 56.86px;
}

.fa-github {
  background-color:#000000;
}

.fa-instagram {
  background-color:#3F729B;
}

.fa {

  background-color:#fff;

  border:3px dotted #E71D36;
  color:#00006b;
  /*border-radius:75%;*/
  text-align: center;
  font-size: 36px !important;
  padding:10px;
  margin:5px 5px;
  /*height:20px;*/
  /*width:20px;*/
}
.fa:hover {
  background-color: #000;
}

#copy_right {
  color: #E71D36;
}
